@{
    ViewBag.Title = "title";
}

<div class="well">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" data-bind="value: zipcode" class="form-control" placeholder="Enter zip code">
        </div>
        <button type="button" data-bind="click: getWeather" class="btn btn-default">Search</button>
    </form>
</div>

<div style="display: none;" data-bind="visible: true, if: !loading()">
    <div class="row">
        <h1>Location:&nbsp;<span data-bind="text: zipcode()"></span></h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Date</h2>
        </div>
        <div class="col-md-2">
            <h2>High</h2>
        </div>
        <div class="col-md-2">
            <h2>Low</h2>
        </div>
    </div>
    <hr />
    <div data-bind="foreach: weather().daily.data()">
        <div class="row">
            <div class="col-md-2">
                <h4>
                    <span data-bind="text: $root.getDateByOffset($index())"></span>
                </h4>
            </div>
            <div class="col-md-2">
                <h4>
                    <span data-bind="text: temperatureMax()"></span>
                </h4>
            </div>
            <div class="col-md-2">
                <h4>
                    <span data-bind="text: temperatureMin()"></span>
                </h4>
            </div>
        </div>
    </div>
</div>